<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Workout</title>
</head>
<body>
    <div>
        HEADER SECTION
        <div>
            <h1 th:text="${userWorkout.name}"></h1>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <td>Index</td>
                        <td>Exercise Name</td>
                        <td>Weight (KG)</td>
                        <td>Reps</td>
                        <td>Body Part</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="exercises, status: ${exercises}">
                        <td th:text="${status.index}"></td>
                        <td th:text="${exercises.name}"></td>
                        <td th:text="${exercises.weightInKg}"></td>
                        <td th:text="${exercises.reps}"></td>
                        <td th:text="${exercises.bodyPart}"></td>

                    </tr>
                </tbody>
            </table>
            <button>Edit Exercises</button>

        </div>
        <div>
            Footer Section
        </div>
    </div>
</body>
</html>