<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Workout</title>
</head>
<body>
    <div>
        HEADER SECTION
        <div>
            <h1 th:text="${userWorkout.name}"></h1>
        </div>
        <div th:each="workoutExercise: ${workoutExercises}">
            <span><h2 th:text="${workoutExercise.name}"></h2></span>

            <div >
            <table border="1px solid black" th:each="exerciseExSet: ${exerciseExSets}">
                <thead>
                <tr>
                    <td th:if="${exerciseExSet.getExercise().getId()} == ${workoutExercise.getId()}">Weight</td>
                    <td th:if="${exerciseExSet.getExercise().getId()} == ${workoutExercise.getId()}">Reps</td>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:if="${exerciseExSet.getExercise().getId()} == ${workoutExercise.getId()}"
                            th:text="${exerciseExSet.getWeightInKg()}">
                        </td>
                        <td th:if="${exerciseExSet.getExercise().getId()} == ${workoutExercise.getId()}"
                            th:text="${exerciseExSet.getReps()}">
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        <div>
            Footer Section
        </div>
    </div>
</body>
</html>