<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <div>
            <h1>Your Workouts</h1>
        </div>
        <div>
<!--            <span th:text="${userWorkouts.name}"></span>-->
        <thead>
        <tr>
            <td>Workout Name</td>
        </tr>
        </thead>
            <tbody>
                <tr th:each="userWorkouts, status: ${userWorkouts}">
                    <td th:text="${userWorkouts.name}"></td>
                </tr>
            </tbody>
        </div>

    </div>
</body>
</html>