<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <div>
            <h1>Your Workouts</h1>
        </div>

<!--            <span th:text="${userWorkouts.name}"></span>-->
        <table border="1">
            <thead>
                <tr>
                    <td>Workout Name</td>
                </tr>

            </thead>


            <tbody>
                <tr th:each="userWorkouts, status: ${userWorkouts}">
                    <td th:text="${userWorkouts.name}"></td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <td>Exercise Name</td>
                    <td>Weight in Kg</td>
                    <td>Reps</td>
                    <td>Body Part</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="userExercises, status: ${userExercises}">
                    <td th:text="${userExercises.name}"></td>
                    <td th:text="${userExercises.weightInKg}"></td>
                    <td th:text="${userExercises.reps}"></td>
                    <td th:text="${userExercises.bodyPart}"></td>
                </tr>
            </tbody>
        </table>


    </div>
</body>
</html>